$grid-gap: 10px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../static/images/bg.jpg");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board-wrapper {
  width: 35%;
  padding-top: 35%;
  position: relative;
}

.board {
  &,
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $grid-gap;
    border-radius: 12px;
    padding: 1.5rem;
  }

  background: #aacdb1;

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background: #ffffa5;
    border-radius: inherit;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 4;

    &--empty {
      cursor: default;
      background: #96b69d;
      z-index: 1;
    }
  }
  &__win {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.67);
    color: #fff;
    border-radius: inherit;

    &--active {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.header {
  margin: 2rem 0;
}

.moves-count {
}

.restart {
  //background: #ccd5ca;
  background: rgba(133, 94, 66, 0.9);
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 4px;
  border: 0;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: hsl(25, 33.7, 60);
  }
}
